.graph{
    position: relative;
}

.graph_contain{
    gap: 40px;
}

.titles{
    gap:50px;
}

.title{
    background-color: var(--dark);
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.tournament{
    gap:50px;
}

.level{
    gap: 40px;
    align-content: stretch !important;
    align-self: stretch !important;
}
