*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root{
  --body-font: 'Roboto', sans-serif;
  --body-alt-font: 'Chakra Petch', sans-serif;
  --linear_gradient:linear-gradient(351.09deg, #F029A0 4.36%, #F0B000 117.5%);
  --linear_gradient_hover:linear-gradient(351.09deg, #F0B000 4.36%, #F029A0 117.5%);
  --trans: all 0.5s ease;
  --body-color: #fff;
  --para-color: #64BE56;
  --para-alt-color: #00FADF;
  --body-bg: #0e063d;
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
}

body{
  font-family:var(--body-font);
  background-color: var(--body-bg);
  color: var(--white);
  scroll-behavior: smooth;
}

.text-center{
  text-align: center ;
}

.flex-between{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-center{
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.grid-center{
  display: grid !important;
  align-items: center;
  justify-content: center !important;
}