.form_section{
    min-height: 100vh;
    background-image: url("../../static/images/login-reg-cover.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.form_contain{
    gap: 50px;
}

.btn_back button{
    gap: 10px;
    position: absolute;
    top: 20px;
}

