footer{
    background-image: url("../../../src/static/images/footer-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}

.contain{
    display: grid !important;
    align-items: center;
    justify-content: stretch;
    gap: 50px;
}

hr{
    background-color: var(--para-alt-color);
}

.name{
    color: var(--para-alt-color);
}

.icons{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
}

.icons svg{
    color: var(--white);
    font-size: 30px;
}