.user_card{
    background-color: #4609C3;
    padding: 40px;
    gap: 20px;
    border-radius:20px 20px 0 0;
}

.user_avatar{
    gap: 30px;
}

.user_info{
    gap: 10px;
}

.user_info :last-child{
    color: var(--para-alt-color);
}

.avatar{
    position: relative;
}

.avatar img{
    width: 100%;
    height: 100%;
}

.avatar::after{
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: 3px solid var(--para-alt-color);
    width: 120%;
    height: 120%;
    border-radius: 50%;
    background-color: transparent;
}

.avatar span{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
}

.avatar span::after{
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    background-color: #64BE56;
    width:15px;
    height:15px;
    border-radius: 50%;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.avatar span::before{
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    background-color: #4609C3;
    width:22px;
    height:22px;
    border-radius: 50%;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.message{
    gap: 20px;
}

.message > button:last-child{
    background-color: #5400FF;
    border-radius: 50%;
    padding: 15px !important;
}

@media (max-width:1200px) {
    .user_card{
        padding: 35px;
        border-radius:18px 18px 0 0;
    }
    
    .user_avatar{
        gap: 25px;
    }
  
    .avatar span{
        top: 9px;
        right: 9px;
    }
    
    .avatar span::after{
        width:14px;
        height:14px;
    }
    .avatar span::before{
        width:20px;
        height:20px;
    }
    
    .message > button:last-child{
        padding: 13px !important;
    }
}

@media (max-width:992px) {
    .user_card{
        padding: 30px;
        border-radius:16px 16px 0 0;
    }
    
    .user_avatar{
        gap: 20px;
    }
    
    .avatar span{
        top: 8px;
        right: 8px;
    }
    
    .avatar span::after{
        width:12px;
        height:12px;
    }
    .avatar span::before{
        width:18px;
        height:18px;
    }
    
    .message > button:last-child{
        padding: 12px !important;
    }
}

@media (max-width:768px) {
    .user_card{
        padding: 25px;
        border-radius:14px 14px 0 0;
        display: grid;
        gap: 30px;
        justify-content: stretch;
    }

    .user_avatar{
        display: grid;
        justify-content: center;
        text-align: center;
    }

    .message > button:first-child{
        width: 100%;
    }

    .message > button:last-child{
        padding: 10px !important;

    }
}

@media (max-width:576px) {
    .user_card{
        padding: 20px;
        border-radius:12px 12px 0 0;
        gap: 25px;
    }

    .message > button:last-child{
        padding: 6px !important;
    }
}